<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_projekt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.android_projekt.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android_projekt.productionsite.ProductionSiteActivity"
            android:label="@string/production_site_activity_title"
            android:parentActivityName="com.example.android_projekt.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android_projekt.MainActivity" />
        </activity>
        <activity
            android:name="com.example.android_projekt.individ.IndividualEditActivity"
            android:label="@string/individual_edit_activity_title"
            android:parentActivityName="com.example.android_projekt.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android_projekt.MainActivity" />
        </activity>
        <activity
            android:name="com.example.android_projekt.individ.IndividualEventsActivity"
            android:label="@string/individual_events_activity_title"
            android:parentActivityName="com.example.android_projekt.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android_projekt.MainActivity" />
        </activity>
        <activity
            android:name="com.example.android_projekt.event.NoteActivity"
            android:label="@string/note_activity_title"
            android:parentActivityName="com.example.android_projekt.individ.IndividualEventsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android_projekt.individ.IndividualEventsActivity" />
        </activity>
        <activity
            android:name="com.example.android_projekt.event.HeatActivity"
            android:label="@string/heat_activity_title"
            android:parentActivityName="com.example.android_projekt.individ.IndividualEventsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android_projekt.individ.IndividualEventsActivity" />
        </activity>
        <activity
            android:name="com.example.android_projekt.reminder.ReminderActivity"
            android:label="@string/reminder_activity_title" >
        </activity>
    </application>

</manifest>
